<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>registration.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>registration.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>pages.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Techtalk</servlet-name>
  	<display-name>Techtalk</display-name>
  	<description></description>
  	<servlet-class>pages.Techtalk</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin</servlet-name>
  	<display-name>Admin</display-name>
  	<description></description>
  	<servlet-class>pages.Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewTechTalk</servlet-name>
  	<display-name>NewTechTalk</display-name>
  	<description></description>
  	<servlet-class>pages.NewTechTalk</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Techtalk</servlet-name>
  	<url-pattern>/Techtalk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin</servlet-name>
  	<url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewTechTalk</servlet-name>
  	<url-pattern>/NewTechTalk</url-pattern>
  </servlet-mapping>
</web-app>
